<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/}">Meal Manager</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/users}">Uživatelé</a></li>
            <li><a href="#" th:href="@{/meals}">Jídla</a></li>
            <li><a href="#" th:href="@{/transactions}">Transakce</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>