<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello jQuery</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		refreshUsers();
	});
	
	function refreshUsers() {
	    $.ajax({
	        url: "http://localhost:8080/api/users"
	    }).then(function(data) {
	    	for (var item in data) {
	    	       $('.greeting-id').append(item.id);
	    	       $('.greeting-content').append(item.name);
	    	}
	    });}

</script>
</head>

<body>
	<div>
		<p class="greeting-id">The ID is</p>
		<p class="greeting-content">The content is</p>
	</div>
	<button type="button" id="reload-button">Refresh</button>
</body>
</html>